*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #1c1c1c;
  font-size: 18px;
}

.wrapper {
  max-width: 350px;
  margin: 200px auto 0;
  text-align: center;
}

.in {
  margin-bottom: 50px;
  position: relative;
}

.input{
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
  font-size: 18px;
  padding: 15px 55px 15px 15px;
  outline: none;
  border: none;
  display: inline-block;
}

.button{
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: none;
}

button img{
  width: 35px;
}

.out {
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
}

.city {
  font-size: 22px;
  font-weight: 700;
}

.line {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 20px 0;
}

.temp {
  font-size: 62px;
  font-weight: 700;
}

.descr {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 70px;
}

.wind-speed span {
  display: block;
}
